<% for (var i = 0; i < users.data.length; i++) { %>
<tr>
  <td><%= i + 1 %></td>
  <td><%= users.data[i].name %></td>
  <td><%= users.data[i].email %></td>
  <td><%= users.data[i].gender %></td>
  <td><%= users.data[i].status %></td>
  <td>
    <a href="/update-user?id=<%= users.data[i]._id%>"
      ><div class="btn btn-primary"><i class="fas fa-edit"></i></div
    ></a>
    <a href="#"
      ><div class="btn btn-danger"><i class="fas fa-trash"></i></div
    ></a>
  </td>
</tr>
<% } %>
